* {
    margin: 0;
    box-sizing: border-box;
}

.containers {
    display: flex;
}

.checkoutForm {
    margin: 20px; 
    width: 70%;
    background-color: #f1fdfe;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderDetails {
    margin: 20px; 
    width: 30%;
    background-color: #f1fdfe;
    padding: 20px;
    border-radius: 10px;

}


.shippingInfo, .paymentInfo, .shippingOptions {
    width: 100%;
    max-width: 600px;
}

.shippingInfo h1 {
   text-align: center;
}

.paymentInfo h1 {
    text-align: center;
}

.shippingOptions h1 {
    text-align: center;
}

.namesRow, .locationRow, .emailRow, .addressRow, .addressTwoRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 10px;
}

.namesRow label, .locationRow label, .emailRow label, .addressRow label, .addressTwoRow label {
    text-align: left;
}  

.shippingOptions label {
    display: flex;
    align-items: center;
}  

.shippingOptions input {
    margin: 0 10px 0 0;
}

.checkoutButton {
    margin: 20px auto;
    display: block;
    background-color: #78D2C2;
}

.toThankYou {
    text-align: center;
}

.toThankYou button {
    padding: 10px 20px;
    background-color: #63B6B6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 75%;
    text-decoration: none;
}


