* {
    margin: 0;
    box-sizing: border-box;
}
.productsTitle {
    background-color: cornflowerblue;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0px;
}

.productBlurb {
    height: 80px;
    width: 80%;
    padding: 20px;
    margin: 0px 0px 25px 8%;
    background-color: rgb(162, 206, 250);
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.productContainer {
    width: calc(33.33% - 20px);
    margin: 10px;
    border: 2px solid #818181; 
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.sidebar {
    border: 2px solid #818181;
    width: 220px;
    height: 100%;
    position: fixed;
}

.sidebar h3 {
    text-align: center;
    padding: 10px;
    background-color: cornflowerblue;
    margin-bottom: 20px;
}

.sidebar .inputBar {
    align-items: center;
    width: 80%;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto 10px;
}

.searchButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.priceRange {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.countryButton {
    padding: 10px 20px;
    background-color: rgb(162, 206, 250);
    border: 1px solid #5e647e;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.countryButton:active{
    background-color: #007bff;
}

.listProd {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    margin: 20px 20px 20px 220px;
}
  
.productDetails img {
    width: 100%; 
    max-width: 300px; 
    height: auto;
}

.productDetails .productInfo {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    text-align: center;
}

.productContainer:hover {
    background-color: #232323;
    color: white;
    cursor: pointer;
}
