* {
    margin: 0;
    box-sizing: border-box;
}

.singleProductContainer {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.singleProductContainer .productDetails {
    display: flex;
}

.singleProductContainer .cartButton {
    display: flex;
    flex-direction: column;
}
  
